// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

// $colors: (
//   primary: (
//     100: hsl(276, 100%, 79%),
//     200: #bc72ee,
//     300: rgb(138, 59, 191),
//     400: hsl(276, 64%, 48%),
//     500: hsl(276, 96%, 20%),
//   ),
//   secondary: (
//     100: hsl(173, 81%, 68%),
//     200: hsl(173, 80%, 63%),
//     300: hsl(173, 72%, 57%),
//     400: hsl(173, 75%, 47%),
//     500: hsl(173, 90%, 30%),
//   ),
//   neutral: (
//     100: hsl(0 0% 100%),
//     200: hsl(200 23% 97%),
//     300: hsl(200 12% 95%),
//     400: hsl(205 12% 88%),
//     500: hsl(209 13% 83%),
//     600: hsl(208 6% 55%),
//     700: hsl(210 8% 31%),
//     800: hsl(212 9% 22%),
//     900: hsl(210 10% 14%),
//   ),
//   dark: (
//     100: hsl(240, 4%, 9%),
//   ),
// );
$colors: (
  primary: (
    100: #FFDD99,
    200: #FFB930,
    300: #F1A616,
    400: #A4700C,
    500: #3D2900,
  ),
  secondary: (
    100: #9EC1A3,
    200: #70A9A1,
    300: #407899,
    400: #05204A,
    500: #031026,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
