---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
const { blok } = Astro.props
// console.log('PROJECT', blok)
---
<article {...storyblokEditable(blok)}>
  <!-- <h1>{blok.title}</h1>
  <p>{blok.description}</p>
  <Fragment set:html={content} /> -->
</article>